#配置文件使用说明
# ‘#’注释一行
#	配置格式为 ：配置项=参数;必须以 ';'结束 。
#	配置项 ;'后面的内容也是被注释的。

#ID,型号，容量，写保护参数

FLASH_DESCRIBE_BEGIN;
{
#flash信息描述开始
73647466,SD&TF,2G,1c00,1c01,1c01,1c01,1c01;
9B12,ATO25D1GA,128M,1c00,1c01,1c01,1c01,1c01;
C8F2,GD5F1G,128M,1c00,1c01,1c01,1c01,1c01;
#保护4Mflash空间
A1E1,PN26G01A,8M,1400,1c01,1c01,1c01,1c01;
#保护2Mflash空间
#A1E1,PN26G01A,8M,0C00,1c01,1c01,1c01,1c01;
D84014,md25D80,1M,1C01,1C01,1C01,1C01,1C01;
C22018,BG25Q80,1M,1C01,1C01,1C01,1C01,1C01;
C22014,BG25Q80,1M,1C01,1C01,1C01,1C01,1C01;
514012,MD25D20,256K,14,14,14,14,14;
514013,MD25D40,512K,18,18,18,18,18;
514014,MD25D80,1M,18,18,18,18,18;
514015,MD25D16,2M,18,18,18,18,18;
C84012,GD25Q20,256K,10028,10028,10028,10028,10028;
C84013,GD25Q40,512K,1002C,1002C,1002C,1002C,1002C;
C84014,GD25Q80,1M,10030,10030,10030,10030,10030;
C84015,GD25Q16,2M,10034,10034,10034,10034,10034;
C84016,GD25Q32,4M,10038,10038,10038,10038,10038;
C84017,GD25Q64,8M,10038,10038,10038,10038,10038;
C84018,GD25Q128,16M,10038,10038,10038,10038,10038;
EF4014,W25Q80,1M,10030,10030,10030,10030,10030;
EF4015,W25Q16,2M,10034,10034,10034,10034,10034;
EF4016,W25Q32,4M,10038,10038,10038,10038,10038;
EF4017,W25Q64,8M,10038,10038,10038,10038,10038;
EF4018,W25Q128,16M,10038,10038,10038,10038,10038;
E04013,BG25Q40,512K,1002C,1002C,1002C,1002C,1002C;
E04014,BG25Q80,1M,10030,10030,10030,10030,10030;
E04015,BG25Q16,2M,14,14,14,14,14;


#flash信息描述结束，新加的flash信息必须放在此行的上面
}
FLASH_DESCRIBE_END;

#spi flash modules configuration


FLASH_ID=73647466;

SPI_CS_DESELECT = 3;
SPI_INPUT_DELAY=1;
SPI_DATA_WIDTH=1;		0--1wire_1bit 1--2wire_1bit 2--2wire_2bit 3/4--4wire_4bit
SPI_IS_CONTINUE_READ=0;		1/0
SPI_IS_OUTPUT=1;		1 -- Output mode 0 --I/O mode
SPI_CLK_DIV=7;			0-7

#clock modules configuration
pll = PLL2 ;                    [PLL0|PLL1|PLL2]	PLL选择
osc = OSC_RTC;                     [OSC0|OSC_RTC|HTC]	时钟源
osc_freq = 32768;                 外挂晶振频率
osc_hc_en = 0;                  [0|1]1: XOSC高电流档使能，0：低电流档
osc_1pin_en = 1;

#sdram modules configuration

###M12L25616A-6T
#sdram_refresh_time = 64/4K;     4096 refresh cycles/64ms
#sdram_cas_latency = 3;          [2|3]
#sdram_trfc = 60;                Refresh Cycle Time Unit is ns
#sdram_trp = 18;                 Row Precharge time Unit is ns
#sdram_trcd = 18;                Row to Column Delay Unit is ns
#sdram_colum = 9;                [8~11]The Column Address is specified byA0-8
#sdram_clk_hd_en = 1;            [0|1]
#sdram_trrd = 12;                Act to Act Delay time Unit is ns
#sdram_clkoe = 1;
#sdram_size = 16;                [4|8|16|32]	Unit is M
#sdram_fast_clock_rate = 160;   [12|15|20|24|30|40|48|60|80|96|120|160|180|200]Unit is MHz



##M12L6416A-6T
sdram_refresh_time = 64/4K;     4096 refresh cycles/64ms
sdram_cas_latency = 3;          [2|3]
sdram_trfc = 60;                Refresh Cycle Time Unit is ns
sdram_trp = 18;                 Row Precharge time Unit is ns
sdram_trcd = 18;                Row to Column Delay Unit is ns
sdram_colum = 8;                [8~11]The Column Address is specified byA0-8
sdram_clk_hd_en = 1;            [0|1]
sdram_trrd = 12;                Act to Act Delay time Unit is ns
sdram_clkoe = 1;
sdram_size = 8;                [4|8|16|32]	Unit is M
sdram_fast_clock_rate = 160;   [12|15|20|24|30|40|48|60|80|96|120|160|180|200]Unit is MHz




##HY57V641620ETP-6
##sdram modules configuration
#sdram_refresh_time = 64/4K;     4096 refresh cycles/64ms
#sdram_cas_latency = 3;          [2|3]
#sdram_trfc = 60;              Refresh Cycle Time Unit is ns
#sdram_trp = 18;               Row Precharge time Unit is ns
#sdram_trcd = 18;              Row to Column Delay Unit is ns
#sdram_colum = 8;                [8~11]The Column Address is specified byA0-8
#sdram_clk_hd_en = 0;            [0|1]
#sdram_trrd = 12;                Act to Act Delay time Unit is ns
#sdram_clkoe = 0;
#sdram_size = 8;                [4|8|16|32]	Unit is MHz
#sdram_fast_clock_rate = 160;   [12|15|20|24|30|40|48|60|80|96|120|160|180|200]Unit is MHz

##W9864G6GH-6
##sdram modules configuration
#sdram_refresh_time = 64/4K;     4096 refresh cycles/64ms
#sdram_cas_latency = 3;          [2|3]
#sdram_trfc = 72;                Refresh Cycle Time Unit is ns
#sdram_trp = 18;                 Row Precharge time Unit is ns
#sdram_trcd = 18;                Row to Column Delay Unit is ns
#sdram_colum = 8;                [8~11]The Column Address is specified byA0-8
#sdram_clk_hd_en = 0;            [0|1]
#sdram_trrd = 12;                Act to Act Delay time Unit is ns
#sdram_clkoe = 0;
#sdram_size = 8;                [4|8|16|32]	Unit is MHz
#sdram_fast_clock_rate = 160;   [12|15|20|24|30|40|48|60|80|96|120|160|180|200]Unit is MHz

##k4s2816321-UC60
;sdram modules configuration
#sdram_refresh_time = 64/4K;        4096 refresh cycles/64ms
#sdram_cas_latency = 3;          [2|3]
#sdram_trfc = 60;                Refresh Cycle Time Unit is ns
#sdram_trp = 18;                 Row Precharge time Unit is ns
#sdram_trcd = 18;                Row to Column Delay Unit is ns
#sdram_colum = 9;                [8~11]The Column Address is specified byA0-8
#sdram_clk_hd_en = 0;            [0|1]
#sdram_trrd = 12;                Act to Act Delay time Unit is ns
#sdram_clkoe = 0;
#sdram_size = 16;                [4|8|16|32]	Unit is M
#sdram_fast_clock_rate = 160;   [12|15|20|24|30|40|48|60|80|96|120|160|180|200]Unit is MHz


#debuginfo
uart=uart03;

